{% extends "base.html" %} {% block title %}Client Events{% endblock %} {% block
head %}
<link href="css/app.css" rel="stylesheet" />
{% endblock %} {% block content %}
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/client_home">
      <span class="align-middle">Client Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        <a class="sidebar-link" href="/client_home">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/icon-48x48.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Client Home</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_profile_client">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/user.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/add-event.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Plan An Event</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_events">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/view.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >View Your Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_attend_events">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/publicev.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >Attend Public Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_events_to_attend">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/event-list.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">RSVPed Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/calendar">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/calendar.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Calendar</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_hire_supplier">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/supplier.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Hire Supplier</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_suppliers_hired">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/supplier_chosen.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >Suppliers Chosen</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/rating_and_feedback">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/rate.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Rate Suppliers</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/join_room">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/chat.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Chat Room</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/video_chat_dashboard" target="_blank">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/videoconference.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Video Chat Room</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a
            class="nav-icon dropdown-toggle d-inline-block d-sm-none"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="align-middle" data-feather="settings"></i>
          </a>
          <a
            class="nav-link dropdown-toggle d-none d-sm-inline-block"
            href="#"
            data-bs-toggle="dropdown"
          >
            <img
              src="{{ url_for('static', filename='img/avatars/avatar.png') }}"
              class="avatar img-fluid rounded me-1"
              alt="User Avatar"
            />
            <span class="text-dark">{{ name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"
              ><i class="align-middle me-1" data-feather="user"></i> Profile</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <div class="container-fluid p-0">
      <h1 class="h3 mb-3">
        Hello! {{ name }} lets plan some events shall we. You can use the
        algorithm to be recommended suppliers for your planned event.
      </h1>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3>Plan An Event</h3>
            </div>
            <div class="card-body">
              <form method="POST">
                <label for="event_name"><h4>Enter Event Name</h4></label>
                <input
                  type="text"
                  id="event_name"
                  name="event_name"
                  class="form-control"
                  required
                />

                <label for="event_type"><h4>Select Event Type</h4></label>
                <br />
                <select id="event_type" name="event_type" required>
                  <option value="Birthday">Birthday</option>
                  <option value="Wedding">Wedding</option>
                  <option value="Baptismal">Baptismal</option>
                </select>
                <br />
                <br />
                <label for="budget"><h4>Enter Budget</h4></label>
                <input
                  type="number"
                  id="budget"
                  name="budget"
                  class="form-control"
                  required
                />

                <label for="max_attendee_num"
                  ><h4>Maximum Number of Attendees</h4></label
                >
                <input
                  type="number"
                  id="max_attendee_num"
                  name="max_attendee_num"
                  class="form-control"
                  required
                />

                <!-- Priority dropdowns -->
                <h4>
                  Set Priorities for Event Categories (1 = Most Important, 5 =
                  Least Important)
                </h4>

                <label for="priority1">Priority for Cake</label>
                <select
                  id="priority1"
                  name="priority1"
                  class="form-control"
                  required
                >
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <label for="priority2">Priority for Grazing Table</label>
                <select
                  id="priority2"
                  name="priority2"
                  class="form-control"
                  required
                >
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <label for="priority3">Priority for Photobooth</label>
                <select
                  id="priority3"
                  name="priority3"
                  class="form-control"
                  required
                >
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <label for="priority4">Priority for Digital Printing</label>
                <select
                  id="priority4"
                  name="priority4"
                  class="form-control"
                  required
                >
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <label for="priority5">Priority for Photographer</label>
                <select
                  id="priority5"
                  name="priority5"
                  class="form-control"
                  required
                >
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <label for="priority6">Priority for Makeup and Hair</label>
                <select
                  id="priority6"
                  name="priority6"
                  class="form-control"
                  required
                >
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <label for="priority7">Priority for Event Planner</label>
                <select
                  id="priority7"
                  name="priority7"
                  class="form-control"
                  required
                >
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <label for="event_desc"><h4>Enter Event Description</h4></label>
                <textarea
                  id="event_desc"
                  name="event_desc"
                  class="form-control"
                  rows="3"
                  required
                  style="resize: none"
                ></textarea>

                <label for="start_date"><h4>Select Start Date</h4></label>
                <input
                  type="datetime-local"
                  id="start_date"
                  name="start_date"
                  class="form-control"
                  required
                />

                <label for="end_date"><h4>Select End Date</h4></label>
                <input
                  type="datetime-local"
                  id="end_date"
                  name="end_date"
                  class="form-control"
                  required
                />

                <div align="center">
                  <button type="submit" class="btn btn-primary">
                    Create Client Event
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} {% block javascript %}
<script>
  function toggleVisibility(selector) {
    const element = document.querySelector(selector);
    if (element.style.display === "none" || element.style.display === "") {
      element.style.display = "block"; // Show the element
    } else {
      element.style.display = "none"; // Hide the element
    }
  }
</script>
{% endblock %}
