{% extends "base.html" %} {% block title %}Client Events{% endblock %} {% block
head %}
<link href="css/app.css" rel="stylesheet" />
{% endblock %} {% block content %}
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/client_home">
      <span class="align-middle">Client Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">Home</li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client">
          <i class="align-middle" data-feather="calendar"></i>
          <span class="align-middle">Plan An Event</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_events">
          <i class="align-middle" data-feather="eye"></i>
          <span class="align-middle">View Your Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_attend_events">
          <i class="align-middle" data-feather="users"></i>
          <span class="align-middle">Attend Public Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_events_to_attend">
          <i class="align-middle" data-feather="check-circle"></i>
          <span class="align-middle">RSVPed Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_hire_supplier">
          <i class="align-middle" data-feather="briefcase"></i>
          <span class="align-middle">Hire Supplier</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_suppliers_hired">
          <i class="align-middle" data-feather="check-circle"></i>
          <span class="align-middle">Suppliers Chosen</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/rating_and_feedback">
          <i class="align-middle" data-feather="star"></i>
          <span class="align-middle">Rate Suppliers</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_profile_client">
          <i class="align-middle" data-feather="user"></i>
          <span class="align-middle">View Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/join_room">
          <i class="align-middle" data-feather="message-square"></i>
          <span class="align-middle">Chat Room</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/video_chat_dashboard" target="_blank">
          <i class="align-middle" data-feather="video"></i>
          <span class="align-middle">Video Chat Room</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a
            class="nav-icon dropdown-toggle d-inline-block d-sm-none"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="align-middle" data-feather="settings"></i>
          </a>
          <a
            class="nav-link dropdown-toggle d-none d-sm-inline-block"
            href="#"
            data-bs-toggle="dropdown"
          >
            <img
              src="{{ url_for('static', filename='img/avatars/avatar.png') }}"
              class="avatar img-fluid rounded me-1"
              alt="User Avatar"
            />
            <span class="text-dark">{{ name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"
              ><i class="align-middle me-1" data-feather="user"></i> Profile</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <div class="container-fluid p-0">
      <h1 class="h3 mb-3">
        Hello! {{ name }} lets plan some events shall we. You can use the
        algorithm to be recommended suppliers for your planned event.
      </h1>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3>Plan An Event</h3>
            </div>
            <div class="card-body">
              <form method="POST">
                <label for="event_name"><h4>Enter Event Name</h4></label>
                <input
                  type="text"
                  id="event_name"
                  name="event_name"
                  class="form-control"
                  value=""
                  required
                />
                <label for="event_type"><h4>Select Event Type</h4></label>
                <br />
                <select name="event_type" id="event_type" class="event_type">
                  <option value="Birthday">Birthday</option>
                  <option value="Wedding">Wedding</option>
                  <option value="Baptismal">Baptismal</option>
                </select>
                <br />
                <label for="budget"
                  ><h4>Enter Budget (Minimum: 20000)</h4></label
                >
                <input
                  type="text"
                  id="budget"
                  name="budget"
                  class="form-control"
                  required
                />
                <label for="max_attendee_num"
                  ><h4>Maximum Number Of Attendees</h4></label
                >
                <input
                  type="text"
                  id="max_attendee_num"
                  name="max_attendee_num"
                  class="form-control"
                  value="100"
                  required
                />
                <label for="event_desc">
                  <h4>Enter Event Description</h4></label
                >
                <textarea
                  id="event_desc"
                  name="event_desc"
                  class="form-control"
                  placeholder=""
                ></textarea>
                <label for="start_date"><h4>Start Time/Date</h4> </label>
                <input
                  type="datetime-local"
                  id="start_date"
                  name="start_date"
                  class="form-control"
                  required
                />
                <label for="end_date"><h4>End Time/Date</h4></label>
                <input
                  type="datetime-local"
                  id="end_date"
                  name="end_date"
                  class="form-control"
                  required
                />
                <br />
                <div align="center">
                  <button type="submit" class="btn btn-primary">
                    Create Event
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} {% block javascript %}
<script>
  function toggleVisibility(selector) {
    const element = document.querySelector(selector);
    if (element.style.display === "none" || element.style.display === "") {
      element.style.display = "block"; // Show the element
    } else {
      element.style.display = "none"; // Hide the element
    }
  }
</script>
{% endblock %}
