{% extends "base.html" %} {% block title %}Client Home{% endblock %} {% block
content %}
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/client_home">
      <span class="align-middle">Client Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">Home</li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client">
          <i class="align-middle" data-feather="calendar"></i>
          <span class="align-middle">Plan An Event</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_events">
          <i class="align-middle" data-feather="eye"></i>
          <span class="align-middle">View Your Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_attend_events">
          <i class="align-middle" data-feather="users"></i>
          <span class="align-middle">Attend Public Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_events_to_attend">
          <i class="align-middle" data-feather="check-circle"></i>
          <span class="align-middle">RSVPed Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_hire_supplier">
          <i class="align-middle" data-feather="briefcase"></i>
          <span class="align-middle">Hire Supplier</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_suppliers_hired">
          <i class="align-middle" data-feather="check-circle"></i>
          <span class="align-middle">Suppliers Chosen</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/rating_and_feedback">
          <i class="align-middle" data-feather="star"></i>
          <span class="align-middle">Rate Suppliers</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_profile_client">
          <i class="align-middle" data-feather="user"></i>
          <span class="align-middle">View Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/join_room">
          <i class="align-middle" data-feather="message-square"></i>
          <span class="align-middle">Chat Room</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/video_chat_dashboard" target="_blank">
          <i class="align-middle" data-feather="video"></i>
          <span class="align-middle">Video Chat Room</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a
            class="nav-icon dropdown-toggle d-inline-block d-sm-none"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="align-middle" data-feather="settings"></i>
          </a>

          <a
            class="nav-link dropdown-toggle d-none d-sm-inline-block"
            href="#"
            data-bs-toggle="dropdown"
          >
            <img
              src="{{ url_for('static', filename='img/avatars/avatar.png') }}"
              class="avatar img-fluid rounded me-1"
              alt="Charles Hall"
            />
            <span class="text-dark">{{ name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"
              ><i class="align-middle me-1" data-feather="user"></i>Profile</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <div class="container-fluid p-0">
      <h1 class="h3 mb-3">Hello! {{ name }}</h1>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-0">
                Welcome to the client role {{ name }}
              </h5>
            </div>
            <div class="card-body">
              <!-- Add content here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
