{% extends "base.html" %}

{% block title %}Client Events{% endblock %}

{% block head %}
<link href="css/app.css" rel="stylesheet">
{% endblock %}

{% block content %}
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/client_home">
      <span class="align-middle">Client Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        <a class="sidebar-link" href="/client_home">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/icon-48x48.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Client Home</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_profile_client">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/user.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/add-event.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Plan An Event</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_events">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/view.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >View Your Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_attend_events">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/publicev.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >Attend Public Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_events_to_attend">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/event-list.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">RSVPed Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/calendar">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/calendar.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Calendar</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_hire_supplier">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/supplier.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Choose Supplier</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/client_suppliers_hired">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/supplier_chosen.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >Suppliers Chosen</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/rating_and_feedback">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/rate.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Rate Suppliers</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/join_room">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/chat.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Chat Room</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/video_chat_dashboard" target="_blank">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/videoconference.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Video Chat Room</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
            <i class="align-middle" data-feather="settings"></i>
          </a>
          <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
            <img src="{{ url_for('static', filename='img/avatars/avatar.png') }}" class="avatar img-fluid rounded me-1"
              alt="User Avatar" />
            <span class="text-dark">{{ name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="user"></i>
              Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <div class="container-fluid p-0">
      <h1 class="h3 mb-3">All Events</h1>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
              <div class="container mt-4">
                <div class="row">
                  {% if rsvped_events %}{% for event in rsvped_events %}
                  <div class="col-md-4 mb-4"> <!-- Full width for RSVPed events -->
                    <div class="card event-card"> <!-- Bootstrap card for styling -->
                      <div class="card-body">
                        <h3
                        style="
                          color: white;
                          background-color: orange;
                          text-align: center;
                        "
                        style="background-color: blue"
                      >
                        {{ event['event_name'] }}
                      </h3>
                      {% if event['image_path'] %}
                      <div class="d-flex justify-content-center">
                        <img
                          src="{{ url_for('static', filename='uploads/' + event['image_path']) }}"
                          alt="Event Image"
                          class="img-fluid mb-2"
                          style="
                            max-width: 300px;
                            max-height: 200px;
                            object-fit: cover;
                          "
                        />
                      </div>
                      {% endif %}
                      <h4>
                        Created By:
                        <span style="color: rgb(0, 89, 255)"
                          >{{ event['creator_name'] }}</span
                        >
                      </h4>
                        <h6 class="card-text">
                          I <strong>{{ name }}</strong>, have reserved a spot on the event <strong>{{ event['event_name'] }}</strong>
                          with the description of: "<strong> {{event['event_desc'] }}</strong>".
                          The room code of the group event chat is:<span style="color: red;"><strong> {{ event['room_code'] }}</strong></span>.
                          The event starts at:<span style="color: red;"><strong>{{ event['start_date'] }}</strong></span>
                          and ends at:<span style="color: red;"><strong>End Date: {{ event['end_date'] }}</strong></span>.
                          This serves as proof of my reserved spot and shall function as my ticket if needed.
                        </h6>

                        <div class="d-flex justify-content-center">
                          <form
                            action="/view_creator"
                            method="POST"
                            class="view-creator-info-form mb-3"
                          >
                            <input
                              type="hidden"
                              name="creator_name"
                              value="{{ event.creator_name }}"
                            />
                            <button type="submit" class="btn btn-primary">
                              View Creator Information
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% else %}
                <p>No RSVPed events found.</p>
                {% endif %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</main>
</div>
{% endblock %}