{% extends "base.html" %} {% block title %}Client Events{% endblock %} {% block
head %}
<link href="css/app.css" rel="stylesheet" />
<style>
  label {
    font-weight: bold;
  }
</style>
{% endblock %} {% block content %}
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/create_event_home">
      <span class="align-middle">Creator Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        <a class="sidebar-link" href="/create_event_home">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/icon-48x48.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Creator Home</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_profile">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/user.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create-event">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/add-event.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Create Event</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/created_event_edit">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/view.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >View Your Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_history">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/calendar_final.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >Finalized Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/event_attendee_list">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/audience.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Attendee List</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/calendar">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/calendar.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Calendar</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/rating_and_feedback">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/rate.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Rate Suppliers</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/join_room">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/chat.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Chat Room</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/video_chat_dashboard" target="_blank">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/videoconference.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Video Chat Room</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a
            class="nav-icon dropdown-toggle d-inline-block d-sm-none"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="align-middle" data-feather="settings"></i>
          </a>
          <a
            class="nav-link dropdown-toggle d-none d-sm-inline-block"
            href="#"
            data-bs-toggle="dropdown"
          >
            <img
              src="{{ url_for('static', filename='img/avatars/avatar.png') }}"
              class="avatar img-fluid rounded me-1"
              alt="User Avatar"
            />
            <span class="text-dark">{{ name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"
              ><i class="align-middle me-1" data-feather="user"></i> Profile</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h1 class="h3 mb-3 text-center">
                <span class="text-info font-weight-bold"
                  >Hello! {{ name }} let's make some events, shall we?</span
                >
              </h1>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                <!-- Event Name -->
                <div class="form-group">
                  <label for="event_name">Enter Event Name</label>
                  <input
                    type="text"
                    id="event_name"
                    name="event_name"
                    class="form-control"
                    value=""
                    required
                  />
                </div>

                <!-- Event Type -->
                <div class="form-group">
                  <label for="event_type">Event Type</label>
                  <select
                    name="event_type"
                    id="event_type"
                    class="form-control"
                  >
                    <option value="Birthday">Birthday</option>
                    <option value="Wedding">Wedding</option>
                    <option value="Baptismal">Baptismal</option>
                  </select>
                </div>

                <!-- Event Privacy -->
                <div class="form-group">
                  <label for="event_privacy">Event Privacy Type</label>
                  <select
                    class="form-control"
                    id="event_privacy"
                    name="event_privacy"
                    required
                  >
                    <option value="Private">Private</option>
                    <option value="Public">Public</option>
                  </select>
                </div>

                <!-- Event Image -->
                <div class="form-group">
                  <label for="event_image">Event Image</label>
                  <input
                    type="file"
                    id="event_image"
                    name="event_image"
                    class="form-control"
                    accept="image/*"
                  />
                </div>

                <!-- Budget -->
                <div class="form-group">
                  <label for="budget">Enter Budget (Minimum: 20000)</label>
                  <input
                    type="text"
                    id="budget"
                    name="budget"
                    class="form-control"
                    required
                  />
                </div>

                <!-- Priority Settings -->
                <div class="form-group">
                  <h4>
                    Set Priorities for Event Categories (1 = Most Important, 5 =
                    Least Important)
                  </h4>
                  <h5>Priority Settings</h5>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="priority1">Priority for Cake</label>
                      <select
                        id="priority1"
                        name="priority1"
                        class="form-control"
                        required
                      >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="priority2">Priority for Grazing Table</label>
                      <select
                        id="priority2"
                        name="priority2"
                        class="form-control"
                        required
                      >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="priority3">Priority for Photobooth</label>
                      <select
                        id="priority3"
                        name="priority3"
                        class="form-control"
                        required
                      >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-4">
                      <label for="priority4"
                        >Priority for Digital Printing</label
                      >
                      <select
                        id="priority4"
                        name="priority4"
                        class="form-control"
                        required
                      >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="priority5">Priority for Photographer</label>
                      <select
                        id="priority5"
                        name="priority5"
                        class="form-control"
                        required
                      >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="priority6"
                        >Priority for Makeup and Hair</label
                      >
                      <select
                        id="priority6"
                        name="priority6"
                        class="form-control"
                        required
                      >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-4">
                      <label for="priority7">Priority for Event Planner</label>
                      <select
                        id="priority7"
                        name="priority7"
                        class="form-control"
                        required
                      >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                </div>

                <!-- Maximum Attendees -->
                <div class="form-group">
                  <label for="max_attendee_num"
                    >Maximum Number Of Attendees</label
                  >
                  <input
                    type="text"
                    id="max_attendee_num"
                    name="max_attendee_num"
                    class="form-control"
                    value="100"
                    required
                  />
                </div>

                <!-- Event Description -->
                <div class="form-group">
                  <label for="event_desc">Enter Event Description</label>
                  <textarea
                    id="event_desc"
                    name="event_desc"
                    class="form-control"
                    placeholder="Add relevant information, example being location or payment method is applicable"
                  ></textarea>
                </div>

                <!-- Start Time/Date -->
                <div class="form-group">
                  <label for="start_date">Start Time/Date</label>
                  <input
                    type="datetime-local"
                    id="start_date"
                    name="start_date"
                    class="form-control"
                    required
                  />
                </div>

                <!-- End Time/Date -->
                <div class="form-group">
                  <label for="end_date">End Time/Date</label>
                  <input
                    type="datetime-local"
                    id="end_date"
                    name="end_date"
                    class="form-control"
                    required
                  />
                </div>

                <!-- Attendees to Invite -->
                <div class="form-group">
                  <label>Select Attendees To Invite:</label><br />
                  {% for attendee in attendees %}
                  <input
                    type="checkbox"
                    id="{{ attendee.id }}"
                    name="attendees"
                    value="{{ attendee.id }}"
                  />
                  <label for="{{ attendee.id }}"
                    >{{ attendee.first_name }} ({{ attendee.email }})</label
                  ><br />
                  {% endfor %}
                </div>

                <!-- Submit Button -->
                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-primary">
                    Create Event
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} {% block javascript %} {% endblock %}
