{% extends "base.html" %} {% block title %}Editing Created Event's Information {% endblock %} {% block head
%} {% endblock %} {% block content %}
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/create_event_home">
      <span class="align-middle">Creator Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        <a class="sidebar-link" href="/create_event_home">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/icon-48x48.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Creator Home</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_profile">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/user.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create-event">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/add-event.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Create Event</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/created_event_edit">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/view.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >View Your Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_history">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/calendar_final.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >Finalized Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/event_attendee_list">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/audience.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Attendee List</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/calendar">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/calendar.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Calendar</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/rating_and_feedback">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/rate.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Rate Suppliers</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/join_room">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/chat.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Chat Room</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/video_chat_dashboard" target="_blank">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/videoconference.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Video Chat Room</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a
            class="nav-icon dropdown-toggle d-inline-block d-sm-none"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="align-middle" data-feather="settings"></i>
          </a>
          <a
            class="nav-link dropdown-toggle d-none d-sm-inline-block"
            href="#"
            data-bs-toggle="dropdown"
          >
            <img
              src="{{ url_for('static', filename='img/avatars/avatar.png') }}"
              class="avatar img-fluid rounded me-1"
              alt="User Avatar"
            />
            <span class="text-dark">{{ name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"
              ><i class="align-middle me-1" data-feather="user"></i> Profile</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h1 class="h3 mb-3">
                Welcome To Event Creation <span class="info"> {{ name }} </span>
              </h1>
              <form action="{{ url_for('views_creator.created_event_edit') }}">
                <button class="btn btn-danger" type="submit">Back</button>
              </form>
            </div>
            <div class="card-body">
              <h6 class="mb-4">
                Here you are able to edit your event's information and make
                changes accordingly.
              </h6>

              <form method="POST" enctype="multipart/form-data">
                <label for="event_name">Enter Event Name</label>
                <input
                  type="text"
                  id="event_name"
                  name="event_name"
                  class="form-control"
                  value="{{ event.event_name }}"
                  required
                />
              
                <label for="event_type">Event Type</label>
                <br />
                <select name="event_type" id="event_type" class="event_type">
                  <option value="Birthday" {% if event.event_type == 'Birthday' %}selected{% endif %}>Birthday</option>
                  <option value="Wedding" {% if event.event_type == 'Wedding' %}selected{% endif %}>Wedding</option>
                  <option value="Baptismal" {% if event.event_type == 'Baptismal' %}selected{% endif %}>Baptismal</option>
                </select>
                <br />
              
                <label for="event_privacy">Event Privacy Type</label>
                <select
                  class="form-control"
                  id="event_privacy"
                  name="event_privacy"
                  required
                >
                  <option value="Private" {% if event.event_privacy == 'Private' %}selected{% endif %}>Private</option>
                  <option value="Public" {% if event.event_privacy == 'Public' %}selected{% endif %}>Public</option>
                </select>
              
                <label for="event_image">Event Image</label>
                <input
                  type="file"
                  id="event_image"
                  name="event_image"
                  class="form-control"
                  accept="image/*"
                />
              
                <label for="max_attendee_num">Maximum Number Of Attendees</label>
                <input
                  type="text"
                  id="max_attendee_num"
                  name="max_attendee_num"
                  class="form-control"
                  value="{{ event.max_attendee_num }}"
                  required
                />
              
                <label for="event_desc">Enter Event Description</label>
                <textarea
                  id="event_desc"
                  name="event_desc"
                  class="form-control"
                  placeholder="Add relevant information, example being location or payment method is applicable"
                >{{ event.event_desc }}</textarea>
              
                <label for="start_date">Start Time/Date</label>
                <input
                  type="datetime-local"
                  id="start_date"
                  name="start_date"
                  class="form-control"
                  value="{{ event.start_date.strftime('%Y-%m-%dT%H:%M') }}"
                  required
                />
              
                <label for="end_date">End Time/Date</label>
                <input
                  type="datetime-local"
                  id="end_date"
                  name="end_date"
                  class="form-control"
                  value="{{ event.end_date.strftime('%Y-%m-%dT%H:%M') }}"
                  required
                />
              
                <div align="center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}{% block javascript %}{% endblock %}
