{% extends "base.html" %} {% block title %}Profile {% endblock %} {% block head
%} {% endblock %} {% block content %}
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/create_event_home">
      <span class="align-middle">Creator Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        <a class="sidebar-link" href="/create_event_home">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/icon-48x48.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Creator Home</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_profile">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/user.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create-event">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/add-event.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Create Event</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/created_event_edit">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/view.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >View Your Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_history">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/calendar_final.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white"
            >Finalized Events</span
          >
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/event_attendee_list">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/audience.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Attendee List</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/calendar">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/calendar.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">View Calendar</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/rating_and_feedback">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/rate.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Rate Suppliers</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/join_room">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/chat.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Chat Room</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/video_chat_dashboard" target="_blank">
          <i class="align-middle"
            ><img
              src="{{ url_for('static', filename='img/icons/videoconference.png') }}"
              alt=""
              style="max-width: 15%; max-height: 15%; object-fit: cover"
          /></i>
          <span class="align-middle" style="color: white">Video Chat Room</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a
            class="nav-icon dropdown-toggle d-inline-block d-sm-none"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="align-middle" data-feather="settings"></i>
          </a>
          <a
            class="nav-link dropdown-toggle d-none d-sm-inline-block"
            href="#"
            data-bs-toggle="dropdown"
          >
            <img
              src="{{ url_for('static', filename='img/avatars/avatar.png') }}"
              class="avatar img-fluid rounded me-1"
              alt="User Avatar"
            />
            <span class="text-dark">{{ name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"
              ><i class="align-middle me-1" data-feather="user"></i> Profile</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h1 class="h3 mb-3">
                Welcome To Event Creation <span class="info"> {{ name }} </span>
              </h1>
            </div>
            <div class="card-body">
              <h6 class="mb-4">
                Notes: Welcome to event creation, {{ name }}. Click the
                <span class="text-info font-weight-bold">Create Event</span>
                button to start creating your events. To view your events, click
                the
                <span class="text-info font-weight-bold">View Your Events</span>
                link. To see the events you have finalized, click the
                <span class="text-info font-weight-bold">Finalized Events</span>
                link. To view the attendees that will be attending your event,
                click the
                <span class="text-info font-weight-bold">Attendee List</span>.
                The chat room and video chat rooms are also available for our
                use.
                <span class="text-info font-weight-bold"
                  >We recommend creating a video call and then sharing the code
                  for that video call in the chat room for others to join.</span
                >
                You may also view your profile and make changes to it as you
                wish, but you may only edit it every
                <span class="text-info font-weight-bold">30 days</span>.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}{% block javascript %}{% endblock %}
