<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/fullcalendar.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />
    <link href="css/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-image: url("https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?cs=srgb&dl=pexels-emma-bauso-1183828-2253870.jpg&fm=jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }

      .container {
        flex-grow: 1;
      }

      .main-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
      }

      footer {
        background-color: #343a40;
        color: white;
        text-align: center;
        padding: 10px 0;
        display: flex;
      }
    </style>

    <title>Login</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">eventify</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="/role">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/event_list">Event List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.calendar') }}"
              >View Calendar</a
            >
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/sign-up">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/event_list">Event List</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main class="container">
      <div class="main-content">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
          <div class="text-center mt-4">
            <h1 class="h2">Welcome back!</h1>
            <p class="lead">Sign in to your account to continue</p>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="m-sm-4">
                <form id="login-form" method="POST" style="display: block">
                  <h3 align="center">Login</h3>
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Enter email"
                      value="{{ email }}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter password"
                      value="{{ password }}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="checkbox"
                      id="show-password"
                      onclick="togglePasswordVisibility()"
                    />
                    <label for="show-password">Show Password</label>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block"
                  >
                    Login
                  </button>
                  <div class="text-center mt-3">
                    <p>
                      Don't have an account yet? Sign up
                      <a href="/sign-up"><strong>Here</strong></a>
                    </p>
                    <p>
                      <a
                        href="javascript:void(0);"
                        onclick="toggleResetPassword()"
                        >Forgot Password?</a
                      >
                    </p>
                  </div>
                </form>

                <form
                  id="reset-password-form"
                  method="POST"
                  action="{{ url_for('auth.reset_password_request') }}"
                  style="display: none"
                >
                  <h3 align="center">Reset Password</h3>
                  <div class="form-group">
                    <label for="reset_email">Email Address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="reset_email"
                      name="email"
                      placeholder="Enter email"
                      required
                    />
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block"
                  >
                    Send Reset Code
                  </button>
                  <div class="text-center mt-3">
                    <p>
                      <a
                        href="javascript:void(0);"
                        onclick="toggleResetPassword()"
                        >Back to Login</a
                      >
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <p>&copy; 2024 Event . All Rights Reserved.</p>
        <p>Contact us at info@events.com</p>
      </div>
      <div class="container">
        <h6>Quick Links</h6>
        <a href="/">Home</a><br />
        <a href="/event_list">Events</a><br />
        <a href="#services">Services</a><br />
        <a href="/login">Login</a><br />
        <a href="/sign-up">Sign Up</a>
      </div>
      <div class="container">
        <h6>Connect</h6>
        <p>Join our community today.</p>
        <button onclick="window.location.href='/sign-up'">Sign Up</button>
      </div>
    </footer>

    <script>
      function togglePasswordVisibility() {
        const password = document.getElementById("password");
        const type = password.type === "password" ? "text" : "password";
        password.type = type;
      }
    </script>

    <script>
      function toggleResetPassword() {
        const loginForm = document.getElementById("login-form");
        const resetPasswordForm = document.getElementById(
          "reset-password-form"
        );
        if (loginForm.style.display === "block") {
          loginForm.style.display = "none";
          resetPasswordForm.style.display = "block";
        } else {
          loginForm.style.display = "block";
          resetPasswordForm.style.display = "none";
        }
      }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
