{% extends "base.html" %} {% block title %}Chat Room{% endblock %} {% block
head%}
<style>
  .message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }
  .inputs {
    padding: 10px;
    display: flex;
  }
  h2 {
    text-align: center;
  }
  #message {
    flex: 1;
  }
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .muted {
    font-size: 10px;
    color: darkgray;
  }
  .main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
{% endblock %} {% block content %}
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/create_event_home">
      <span class="align-middle">Creator Dashboard</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">Home</li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create-event">
          <i class="align-middle" data-feather="eye"></i>
          <span class="align-middle">Create Event</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/created_event_edit">
          <i class="align-middle" data-feather="users"></i>
          <span class="align-middle">View Your Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_history">
          <i class="align-middle" data-feather="check-circle"></i>
          <span class="align-middle">Finalized Events</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/event_attendee_list">
          <i class="align-middle" data-feather="star"></i>
          <span class="align-middle">Attendee List</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/calendar">
          <i class="align-middle" data-feather="calendar"></i>
          <span class="align-middle">View Calendar</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/rating_and_feedback">
          <i class="align-middle" data-feather="star"></i>
          <span class="align-middle">Rate Suppliers</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/create_event_profile">
          <i class="align-middle" data-feather="star"></i>
          <span class="align-middle">View Profile</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/join_room">
          <i class="align-middle" data-feather="message-square"></i>
          <span class="align-middle">Chat Room</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/video_chat_dashboard" target="_blank">
          <i class="align-middle" data-feather="video"></i>
          <span class="align-middle">Video Chat Room</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <a
            class="nav-icon dropdown-toggle d-inline-block d-sm-none"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="align-middle" data-feather="settings"></i>
          </a>
          <a
            class="nav-link dropdown-toggle d-none d-sm-inline-block"
            href="#"
            data-bs-toggle="dropdown"
          >
            <img
              src="{{ url_for('static', filename='img/avatars/avatar.png') }}"
              class="avatar img-fluid rounded me-1"
              alt="User Avatar"
            />
            <span class="text-dark">{{ name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"
              ><i class="align-middle me-1" data-feather="user"></i> Profile</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
              <div class="message-box">
                <h2>Chat Room: {{ code }}</h2>
                <h3>Event: {{ event_name }} - Creator:{{ creator_name }}</h3>
                <!-- Display the event name here -->
                <div class="messages" id="messages"></div>
                <div class="inputs">
                  <input
                    type="text"
                    rows="3"
                    placeholder="Message"
                    name="message"
                    id="message"
                  />
                  <button
                    type="button"
                    name="send"
                    id="send-btn"
                    onClick="sendMessage()"
                  >
                    Send
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  crossorigin="anonymous"
></script>
<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
    messages.scrollTop = messages.scrollHeight; // Scroll to the bottom
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value === "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };

  {% for msg in messages %}
  createMessage("{{ msg.name }}", "{{ msg.message }}");
  {% endfor %}
</script>
{% endblock %}{% block javascript %}{% endblock %}
